@use "/src/sass/base/variables.scss" as *;

@mixin overlay-black {
  background: rgba(0, 0, 0, 0.2);
}

@mixin overlay-blue {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 127, 255, 0.2) 100%
  );
}

@mixin overlay {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 127, 255, 0.2) 100%);
}

@mixin overlay-hover {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 127, 255, 0.4) 100%);
}
