$white: #fff;
$blue-800: #007fff;
$blue-700: #39f;
$blue-600: #66b2ff;
$blue-500: #9cf;
$blue-400: #cce5ff;
$blue-300: #e5f2ff;
$black-800: #171717;
$black-700: #454545;
$black-600: #747474;
$black-500: #a2a2a2;
$black-400: #d1d1d1;
$black-300: #e8e8e8;
$font-family: "Golos Text", sans-serif;
