@use "/src/sass/base/variables.scss" as *;

.contacts {
  &__wrapper {
    margin-top: 40px;
    position: relative;
  }
  &__map {
    border: 1px solid $blue-400;
    border-radius: 20px;
    height: 620px;
    overflow: hidden;
  }
  &__locations {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: absolute;
    top: 48px;
    right: 48px;
  }
}
