@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.goods {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 18px;
  }
  &__card {
    &_products {
      &:hover {
        .goods__background_products {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
        }
        .goods__extra {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    border-radius: 16px;
    padding: 24px;
    width: 692px;
    min-height: 460px;
    position: relative;
    overflow: hidden;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
    }
    &_water {
      background-position: right center;
      &::before {
        @include overlay-black;
        backdrop-filter: blur(3px);
      }
    }
    &_products {
      background-position: center;
      &::before {
        @include overlay-blue;
        opacity: 1;
      }
      &::after {
        @include overlay-hover;
        opacity: 0;
      }
    }
  }
  &__bottle {
    max-width: 287px;
    position: absolute;
    left: 27px;
    bottom: 0;
    filter: drop-shadow(0 0 75px $white);
  }
  &__content {
    &_water {
      max-width: 310px;
      margin-left: auto;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    color: $white;
  }
  &__specs {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: $white;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 16px;
  }
  &__spec-name {
    width: 211px;
  }
  &__price {
    font-weight: 500;
    font-size: 32px;
    text-align: right;
    color: $white;
    margin-top: 16px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }
  &__extra {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white;
    max-width: 363px;
    margin-top: 16px;
  }
  &__button {
    margin-top: 16px;
  }
}
