@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.goods {
  &__wrapper {
    display: flex;
    column-gap: 18px;
    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 24px;
    }
  }
  &__card {
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    min-height: 460px;
    position: relative;
    overflow: hidden;
    display: flex;
    &_products {
      @media (max-width: 768px) {
        align-items: end;
      }
      &:hover {
        .goods__background_products {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
        }
        .goods__extra {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
    }
    &_water {
      background-position: right center;
      &::before {
        @include overlay-black;
        backdrop-filter: blur(3px);
      }
    }
    &_products {
      background-position: center;
      &::before {
        @include overlay-blue;
        opacity: 1;
        @media (max-width: 992px) {
          opacity: 0;
        }
      }
      &::after {
        @include overlay-hover;
        opacity: 0;
        @media (max-width: 992px) {
          opacity: 1;
        }
      }
    }
  }
  &__bottle {
    max-width: 287px;
    position: absolute;
    left: 27px;
    bottom: 0;
    filter: drop-shadow(0 0 75px $white);
    z-index: -1;
    @media (max-width: 1400px) {
      left: -72px;
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    &_water {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 1200px) {
        margin-left: 0;
        min-width: 100%;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    color: $white;
    @media (max-width: 992px) {
      font-size: 24px;
    }
  }
  &__specs {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (max-width: 992px) {
      row-gap: 14px;
    }
  }
  &__spec {
    display: flex;
    justify-content: space-between;
  }
  &__spec-name {
    font-weight: 400;
    font-size: 16px;
    color: $white;
    @media (max-width: 992px) {
      font-size: 14px;
    }
  }
  &__spec-value {
    font-weight: 400;
    font-size: 16px;
    color: $white;
    width: 99px;
    @media (max-width: 992px) {
      font-size: 14px;
    }
  }
  &__price {
    font-weight: 500;
    font-size: 32px;
    text-align: right;
    color: $white;
    @media (max-width: 992px) {
      font-size: 20px;
    }
  }
  &__buttons {
    display: flex;
    column-gap: 16px;
    justify-content: space-between;
    @media (max-width: 992px) {
      .quantity {
        display: none;
      }
      .button {
        width: 100%;
      }
    }
  }
  &__extra {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: start;
    flex-grow: 1;
    @media (max-width: 992px) {
      opacity: 1;
      visibility: visible;
      justify-content: space-between;
    }
    @media (max-width: 768px) {
      justify-content: start;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white;
    max-width: 363px;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  &__button {
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
