@use "/src/sass/base/variables.scss" as *;

.product {
  &__wrapper {
    display: grid;
    grid-template-columns: 574px 456px 338px;
    column-gap: 16px;
    margin-top: 32px;
    align-items: start;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
    }
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      margin-top: 24px;
    }
  }
  &__gallery {
    display: grid;
    grid-template: 477px / 102px 456px;
    column-gap: 16px;
    @media (max-width: 768px) {
      grid-template: auto / 100%;
      row-gap: 12px;
    }
    &-thumbs {
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        order: 2;
      }
    }
    &-thumb {
      border: 1px solid $blue-400;
      border-radius: 8px;
      width: 102px;
      height: 107px;
      overflow: hidden;
      @media (max-width: 768px) {
        width: 72px;
        height: 75px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-main {
      width: 100%;
      height: 100%;
    }
    &-image {
      border: 1px solid $blue-400;
      border-radius: 20px;
      width: 456px;
      height: 477px;
      overflow: hidden;
      @media (max-width: 768px) {
        width: 336px;
        height: 351px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__description {
    padding: 0px 16px;
    @media (max-width: 1400px) {
      order: 3;
      grid-column: 1 / 3;
    }
    @media (max-width: 992px) {
      order: unset;
      grid-column: auto;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: $black-700;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: $black-600;
    margin-top: 16px;
  }
  &__order {
    border: 1px solid $blue-400;
    border-radius: 20px;
    padding: 16px;
  }
  &__price {
    display: flex;
    align-items: end;
    column-gap: 8px;
    &-old {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      text-decoration: line-through;
      color: $black-600;
    }
    &-current {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: $black-700;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: $black-700;
    margin-top: 16px;
  }
  &__excerpt {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: $black-600;
    margin-top: 8px;
  }
  &__button {
    margin-top: 16px;
  }
  &__more {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: $black-600;
    margin-top: 16px;
    display: block;
    text-align: center;
    transition: all 0.25s;
    &:hover {
      color: $blue-800;
    }
  }
}
