@use "/src/sass/base/variables.scss" as *;

.promotions {
  @media (max-width: 992px) {
    overflow: hidden;
  }
  &__slider {
    margin-top: 40px;
    @media (max-width: 992px) {
      overflow: visible;
      .swiper-slide {
        width: 540px;
        .card {
          min-height: 280px;
        }
      }
    }
    @media (max-width: 768px) {
      margin-top: 24px;
      .swiper-slide {
        width: 360px;
        .card {
          min-height: 240px;
        }
      }
    }
    @media (max-width: 576px) {
      .swiper-slide {
        width: 248px;
        .card {
          min-height: 177px;
          padding: 12px;
        }
      }
    }
  }
  &__navigation {
    margin-top: 24px;
  }
  &__pagination {
    display: flex;
    column-gap: 8px;
    .swiper-pagination-bullet {
      border-radius: 3px;
      width: 5px;
      height: 5px;
      background: rgba(0, 0, 0, 0.5);
      margin: 0 !important;
      opacity: 1;
      transition: all 0.3s ease-out;
      &-active {
        width: 50px;
        background: $black-800;
      }
    }
  }
}
