@use "/src/sass/base/variables.scss" as *;

.questions {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    margin-top: 40px;
    @media (max-width: 992px) {
      .card {
        display: none;
      }
    }
    @media (max-width: 576px) {
      margin-top: 24px;
    }
  }
}
