@use "/src/sass/base/variables.scss" as *;

.schedule {
  margin-top: 40px;
  @media (max-width: 576px) {
    margin-top: 24px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: $black-600;
    margin-top: 16px;
  }
}
