@use "/src/sass/base/variables.scss" as *;

.badge {
  border-radius: 13px;
  padding: 4px 8px;
  background: $blue-800;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  display: inline-block;
  &_card {
    position: absolute;
    top: 0;
    left: 0;
  }
  &_banner {
    position: absolute;
    top: 24px;
    left: 24px;
  }
  &_product {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  &_filter {
    background: none;
    border: 1px solid $blue-800;
    color: $blue-800;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.25s;
    &:hover {
      background: $blue-800;
      color: $white;
    }
  }
}
