@use "/src/sass/base/variables.scss" as *;

.breadcrumbs {
  &__list {
    display: flex;
    column-gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
  }
  &__item {
    font-weight: 400;
    font-size: 14px;
    color: $black-700;
    display: flex;
    align-items: end;
    column-gap: 10px;
    &::after {
      font-family: "fontello";
      content: "\e803";
      font-size: 12px;
      color: $black-800;
    }
    &:last-child::after {
      display: none;
    }
  }
  &__link {
    color: $black-400;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
