@use "/src/sass/base/variables.scss" as *;

.dropdown {
  position: relative;
  &_light {
    .dropdown__button {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    color: $black-700;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.25s;
    &:hover {
      color: $blue-800;
    }
  }
  &__icon {
    font-size: 16px;
  }
  &:hover {
    .dropdown__content {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-9px);
    transition: all 0.3s ease-out;
    padding-top: 9px;
    z-index: 1;
    &_sort {
      right: 0;
      width: max-content;
    }
  }
  &__links {
    border: 1px solid $blue-300;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 0 16px 0 rgba(0, 70, 140, 0.4);
    background: $white;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    color: $black-700;
    text-decoration: none;
    transition: all 0.25s;
    &:hover {
      color: $blue-800;
    }
    &_active {
      color: $blue-800;
    }
  }
  &_sort {
    .dropdown__button {
      font-weight: 400;
      color: $blue-800;
      text-decoration: none;
    }
    .dropdown__icon {
      font-size: 24px;
      line-height: 14px;
    }
  }
}
