@use "/src/sass/base/variables.scss" as *;

.input {
  position: relative;
  &__field {
    border: 1px solid $black-600;
    border-radius: 24px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $black-700;
    display: block;
    width: 100%;
    outline: none;
    transition: all 0.25s;
    height: 48px;
    &:focus {
      border: 1px solid $blue-800;
    }
    &::placeholder {
      color: transparent;
    }
    &:focus + .input__label,
    &:not(:placeholder-shown) + .input__label {
      font-size: 12px;
      top: 0;
      padding: 0 2px;
    }
    &_textarea {
      resize: none;
      height: 140px;
    }
  }
  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $black-600;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    cursor: text;
    background: $white;
    transition: all 0.25s;
    &_textarea {
      top: 36px;
    }
  }
}
