@use "/src/sass/base/variables.scss" as *;

.map {
  position: relative;
  &__frame {
    border: 1px solid $blue-400;
    border-radius: 20px;
    height: 620px;
    overflow: hidden;
    &_schedule {
      height: 500px;
    }
  }
  &__locations {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: absolute;
    top: 48px;
    right: 48px;
  }
  &_contacts {
    margin-top: 40px;
  }
}
