@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    @include overlay-black;
  }
  &__container {
    border: 1px solid $blue-300;
    border-radius: 16px;
    padding: 24px;
    background: $white;
    width: 420px;
    height: 627px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: $black-700;
  }
  &__close {
    border: none;
    padding: 0;
    background: none;
    font-size: 24px;
    color: $black-700;
    line-height: 24px;
    cursor: pointer;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    flex-grow: 1;
    &_qr {
      row-gap: 16px;
    }
    &_thanks {
      justify-content: space-between;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    color: $black-600;
    &_more {
      a {
        color: $black-600;
        transition: all 0.25s;
        &:hover {
          color: $blue-800;
        }
      }
    }
    &_grow {
      flex-grow: 1;
    }
  }
  &__qr {
    border: 1px solid $blue-400;
    border-radius: 20px;
  }
  &__thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    flex-grow: 1;
    justify-content: center;
    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: $black-700;
    }
  }
  &__products {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    flex-grow: 1;
  }
  &__product {
    display: flex;
    column-gap: 24px;
    &-image {
      width: 80px;
      height: 126px;
      object-fit: contain;
    }
    &-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-name {
      font-weight: 500;
      font-size: 16px;
      color: $black-700;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-price {
      font-weight: 500;
      font-size: 20px;
      color: $black-700;
    }
  }
  &__order {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    flex-grow: 1;
    &-structure {
      font-weight: 500;
      font-size: 16px;
      color: $black-700;
    }
    &-table {
      display: flex;
      flex-direction: column;
    }
    &-product {
      padding: 16px 0px;
      display: grid;
      grid-template-columns: 4fr repeat(2, 1fr);
      align-items: center;
    }
    &-name {
      font-weight: 400;
      font-size: 16px;
      color: $black-700;
    }
    &-quantity {
      font-weight: 500;
      font-size: 16px;
      color: $black-700;
    }
    &-price {
      font-weight: 500;
      font-size: 16px;
      text-align: right;
      color: $black-700;
    }
    &-calculation {
      display: flex;
      align-items: end;
      justify-content: space-between;
    }
    &-sum {
      font-weight: 500;
      font-size: 16px;
      color: $black-600;
    }
    &-total {
      font-weight: 500;
      font-size: 24px;
      color: $black-700;
    }
  }
  &__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    &-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      text-align: center;
      color: $black-600;
      transition: all 0.25s;
      &:hover {
        color: $blue-800;
      }
    }
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
