.page {
  margin-top: 40px;
  &__wrapper {
    display: grid;
    grid-template-columns: 338px auto;
    column-gap: 32px;
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }
}
