@use "/src/sass/base/variables.scss" as *;

.product-card {
  position: relative;
  height: 468px;
  @media (max-width: 1200px) {
    height: 426px;
  }
  @media (max-width: 768px) {
    height: auto;
  }
  &:hover {
    z-index: 2;
    .product-card__wrapper {
      box-shadow: 0 0 16px 0 rgba(0, 127, 255, 0.24);
      height: 530px;
      @media (max-width: 1200px) {
        height: 488px;
      }
    }
    .product-card__button {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
    @media (max-width: 768px) {
      .product-card__wrapper {
        box-shadow: none;
        height: auto;
      }
    }
  }
  &__wrapper {
    border-radius: 20px;
    padding: 16px;
    background: $white;
    transition: all 0.25s;
    height: 468px;
    max-width: 354px;
    @media (max-width: 1200px) {
      height: 426px;
      max-width: 315px;
    }
    @media (max-width: 992px) {
      max-width: 354px;
    }
    @media (max-width: 768px) {
      padding: 0;
      height: auto;
    }
  }
  &__thumbnail {
    position: relative;
  }
  &__image {
    border: 1px solid $blue-400;
    border-radius: 20px;
  }
  &__price {
    display: flex;
    align-items: end;
    column-gap: 8px;
    margin-top: 14px;
    @media (max-width: 576px) {
      margin-top: 8px;
    }
    &-old {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      text-decoration: line-through;
      color: $black-600;
      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
    &-current {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: $black-700;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
  &__name {
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: $black-700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      transition: all 0.25s;
      margin-top: 16px;
      display: block;
      &:hover {
        color: $blue-800;
      }
      @media (max-width: 768px) {
        white-space: normal;
      }
      @media (max-width: 576px) {
        font-size: 14px;
        white-space: normal;
        margin-top: 8px;
      }
    }
  }
  &__excerpt {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: $black-600;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 768px) {
      white-space: normal;
    }
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
  &__button {
    margin-top: 14px;
    opacity: 0;
    transform: translateY(-7px);
    visibility: hidden;
    transition: all 0.25s;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      background: none;
      color: $blue-800;
      font-weight: 400;
      &:hover,
      &:active {
        background: none;
      }
    }
    @media (max-width: 576px) {
      margin-top: 12px;
      font-size: 14px;
      padding: 8px 20px;
    }
  }
  &_slide {
    height: auto;
    .product-card__wrapper {
      height: auto;
      padding: 0;
    }
    &:hover {
      .product-card__wrapper {
        box-shadow: none;
        height: auto;
      }
    }
  }
}
