@use "/src/sass/base/variables.scss" as *;

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  color: $black-700;
  @media (max-width: 768px) {
    font-size: 32px;
  }
  &_small {
    font-size: 32px;
  }
}
